<main>
  <header>
    <h1>valueChanges observable example</h1>
  </header>
  <section class="filter">
    <form>
      <label>Filter by user</label>
      <select [formControl]="userFormControl">
        <option [ngValue]="null">Select userId</option>
        @for (user of users; track $index) {
        <option [ngValue]="user">{{ user }}</option>
        }
      </select>
    </form>
  </section>
  <section class="posts">
    @for (post of filteredPosts; track $index) {
    <div class="post-card">
      <header>
        <div class="title">
          <p>{{ post.title }}</p>
        </div>
      </header>
      <section class="content">
        <p>{{ post.body }}</p>
      </section>
      <section class="signature">
        <p>created by userId: {{ post.userId }}</p>
      </section>
    </div>
    }
  </section>
</main>